.showorders {
  min-height: calc(100vh - 100px - 460px);
  /*VH roto, queda una barrita blanca abajo*/
}

.order-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.order {
  display: inline;
  flex-wrap: wrap;
  margin-right: 10px;
  border: 1px solid black;
  padding: 10px;
  padding-bottom: 0px;
}

.products {
  display: flex;
}
.img-product {
  width: 100px;
}

.table-responsive-dark,
.container-dark {
  background-color: #303030;
  color: white;
}

.card-font {
  font-size: 13px;
  width: max-content;
}
