.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0;
  height: calc(
    100vh - 60px - 500px
  ); /*100vh menos el header+footer 60px del header y 460 del footer*/
}

.cart-container-dark {
  background-color: #303030;
}

.emptyCart {
  min-height: calc(100vh - 60px - 461px);
  overflow-y: hidden;
}

.emptyCart-dark {
  background-color: #303030;
  color: white;
}

.cart-table {
  border-right: 1px solid rgba(220, 220, 220, 0.267);
  padding: 2rem;
}

.cart-table-dark {
  background-color: #242424;
}

.subtotal {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 1rem;
  padding-top: 1.5rem;
}

.subtotal h4 {
  display: flex;
  justify-content: space-between;
}

.subtotal-dark {
  background-color: #242424;
  color: white;
}

.subtotal-buttons-dark {
  background-color: #242424;
  border-radius: 5px;
  color: white;
}
