.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0;
  min-height: calc(
    100vh - 60px - 500px
  ); /*100vh menos el header+footer 60px del header y 460 del footer*/
}

.cart-container-dark {
  background-color: #303030;
  color: white;
}

.emptyCart {
  min-height: calc(100vh - 60px - 461px);
  overflow-y: hidden;
}

.emptyCart-dark {
  background-color: #303030;
  color: white;
}

.cart-table {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.cart-table-dark {
  background-color: #303030;
}

.subtotal {
  width: 100%;
  margin: auto;
}

.subtotal h4 {
  display: flex;
  justify-content: center;
}

.buttons-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subtotal-dark {
  background-color: #303030;
  color: white;
}

.subtotal-buttons-dark {
  background-color: #303030;
  border-radius: 5px;
  color: white;
}

.products-container {
  max-width: 100%;
  width: 1000px;
}
