.filters-container {
  color: black;
  padding: 1rem;
  width: 100%;
}

.filters-brands {
  width: 250px;
}

.sb-button {
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.sb-button-dark {
  background-color: #303030;
  color: white;
}

.sb-button:hover {
  transition: 0.2s;
  transform: translateY(-0.2rem);
  background-color: #ddd;
  border-color: #999;
}

.sb-button-dark:hover {
  background-color: #757575;
  border-color: #999;
}

.button-dark {
  background-color: #303030;
  color: white;
}

.sidebar-dark {
  background-color: #303030;
  color: white;
}
