.form-container {
  max-width: 500px;
  padding-right: 1rem;
  @media (max-width: 767px) {
    max-width: 480px;
    margin: auto;
    padding: 2rem;
  }
  @media (min-width: 767px) {
    width: 35%;
  }
}

.total {
  height: fit-content;
  max-width: 480px;
  border-radius: 10px;
  @media (max-width: 767px) {
    margin: auto !important;
    margin-bottom: 2rem !important;
  }
}

.form-control {
  width: 100% !important;
}

.product-img {
  width: 80px;
}

.body-container-dark {
  background-color: #303030;
  color: white;
}

.body-container-dark form input,
.body-container-dark form select {
  background-color: #343434;
  border-color: #505050;
  color: white;
}

.body-container-dark form input:focus {
  background-color: #242424;
  color: white;
}

.body-container-dark .total {
  border-color: #505050 !important;
}
