.navbar {
  background-color: rgb(63, 19, 144);
}

.cart-icon {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.CRI {
  display: flex;
}

.CRI button:hover {
  transition: 0.2s;
  transform: translateY(-0.5rem);
  text-shadow: 2px 1px 5px;
  color: white;
}

.CRI button {
  transition: 0.2s;
  color: rgb(209, 209, 209);
  margin-left: 20px;
  align-items: center;
}

button {
  border-style: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-style: solid;
  border-radius: 5px;
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 300px;
  box-shadow: 0px 0px 20px;
  padding-top: 11px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.items {
  text-align: left;
}
