.trash-btn {
  margin: 0;
  padding: 0;
  position: relative;
  left: 25px;
}
.product-img {
  width: 150px;
}

.qty {
  text-align: center;
}

.cart-item-dark {
  background-color: #242424;
  color: white;
}

.trash-button-dark {
  color: white;
}
