.footer {
  bottom: 0;
  width: 100%;
  background-color: rgb(63, 19, 144);
}

.footer-dark {
  background-color: #020c1a;
  color: white;
}

.socialmedia-dark {
  background-color: #020c1a;
  color: white;
}
