/* .phone-container {
  width: auto;
  height: auto;
} */

.phone-item-dark {
  background-color: #242424;
  color: white;
  border-radius: 7px;
}

hr {
  border: solid 1px rgb(218, 216, 216);
  width: 95%;
  height: 1r;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#cart-button {
  font-size: smaller;
}
