.menu {
  display: flex;
}

.App {
  min-height: calc(100vh - 100px - 462px);
}

.Accordeon-container {
  display: flex;
  flex-direction: column; /* Cambia la dirección de flexión a columna */
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente */
}

.Accordeon-container-dark {
  background-color: #303030;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.content {
  margin-left: 20px;
}

.AcordeonItem {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.open-aci {
  padding: 10px;
  background-color: #dfdfdf;
  width: 600px;
}

.ac-button {
  font-size: 1.5em;
  margin: 10px;
  transition: font-weight;
  background-color: #d8d6d6;
  padding: 10px;
  width: 400px;
}

.open-aci-dark {
  background-color: #3d3d3d;
  color: white;
}

.ac-button.active {
  font-weight: bold;
}

.ac-button-dark {
  color: white;
  background-color: #3b3b3b;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.accordion-content.active {
  max-height: 500px;
}
