/* Descomentar esto para que funcione tailwindcss */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  background-color: red;
  font-family: Montserrat, "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
